/* место для вашего кода */
.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

body {
  font-family: "Raleway", sans-serif;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;

  background: #000;
  opacity: 0.6;

  width: 100%;
  height: 100%;
}

/*-------------------------------HEADER-------------------------------*/

.header {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 92px 50px 96px;
}

.header-menu {
  font-weight: 400;
  font-size: 18px;
  color: #000;

  align-self: center;
  justify-self: center;
}

.header__links-list {
  display: flex;
  gap: 33px;

  white-space: nowrap;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;

  width: 138px;
  margin-left: 44px;

  text-decoration: none;
}

.header__logo-image {
  display: block;

  width: 100%;
  height: auto;
}

.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;

  max-width: 240px;
  width: 100%;
}

.address__tel {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.address__mail {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.address__location {
  padding-top: 1px;
  padding-left: 1.1px;
}

/*-------------------------------HEADER END-------------------------------*/

/*-------------------------------COVER SECTION-------------------------------*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 757px;
  padding: 165px 50px 50px;

  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-height: 385px;
  height: 100%;

  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 106px;
}

.cover__text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;

  word-spacing: 18.85px;
  text-transform: uppercase;
}

.cover__button {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;

  padding: 12px 32px 10px 31px;

  border: 1px solid #fff;
  background-color: transparent;
}

/*-------------------------------COVER SECTION END-------------------------------*/

/*-------------------------------LOTS SECTION-------------------------------*/

.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 180px;
  padding: 0px 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-left: 40px;
}

.lots__card-list {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 596px;

  margin-top: 27px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 48px 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* картинки для карточек */

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;

  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.card__text {
  z-index: 1;

  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  color: #000;
  font-weight: 400;
  font-size: 20px;

  margin-top: 30px;
  margin-left: 40px;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

/* LOTS SECTION END */

/* ABOUT SECTION */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;

  width: 100%;
  margin-top: 120px;
  padding: 0px 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;

  width: 240px;
  height: 240px;
  margin-top: 35px;

  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__column {
  width: 100%;
  max-width: 693px;
  padding-top: 136px;
  padding-left: 25px;

  text-align: start;
}

.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;

  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  margin-top: 100px;
}

/*-------------------------------ABOUT SECTION END-------------------------------*/

/*-------------------------------FOOTER-------------------------------*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 0px 50px 82px;
  margin-top: 180px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

/* меню навигации */
.footer__menu {
  justify-self: center;

  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
  list-style: none;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

/*-------------------------------FOOTER SECTION END-------------------------------*/
